<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="15 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.soluvas" level="DEBUG"/>
    <logger name="com.soluvas" level="DEBUG"/>
    <logger name="id" level="DEBUG"/>
    <logger name="org.lskk" level="DEBUG"/>
    <logger name="org.apache.camel" level="INFO"/>
    <logger name="org.apache.http.impl" level="DEBUG"/>
    <logger name="org.apache.http.headers" level="DEBUG"/>
    <!--<logger name="org.apache.http.wire" level="DEBUG"/>-->
    <logger name="org.hibernate.SQL" level="INFO"/>
    <logger name="org.springframework.web.servlet.mvc.method.annotation" level="DEBUG"/>
    <logger name="org.apache.commons.net" level="DEBUG"/>
</configuration>
